@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;300&display=swap');


* {
    box-sizing: border-box;
    font-size: 12px;
    scroll-behavior: smooth;
    font-family: 'Sarabun', sans-serif;
}

/* body{
    color: #222;
    padding-bottom: 50px;
} */



p {
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.logo {
    order: -1;
    margin-right: auto;
    margin-left: 10px
}


a:hover{
    color: orangered;
}

/* img {
    width: 100%;
} */

/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
} */

header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;

}

nav {
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 20px 0;

}

.logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    display: flex;
    list-style-type: none;
    margin: 0 1.5rem;
}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}




ul{
    display: flex;
    justify-content: center;
    margin-left: auto;
    align-items: center;
    text-decoration: none;
    height: 0vh;

}

li a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}

li a:hover{
color: orangered;
}

section div:hover{
    transform: translateY(5px);
 
}

section {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between;
    padding: 5rem 3rem;
}

/* Example styling for child items */
section div {
    flex: 0 0 calc(24% - 1rem); /* Adjust the width of each item and set spacing between them */
    margin-bottom: 1rem; /* Add space between rows */
    /* Add other styling for the items as necessary */
}

section .card-content {
    flex: 0 0 calc(20% - 1rem);
    margin-bottom: 1.5rem;
    background-color: #fff;
    border: 1.2px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

section .card:hover {
    transform: scale(1.05);
}

section .card img {
    width: 50%;
    height: 50%; /* Adjust the height as needed */
    object-fit: cover;
}

section .card-content {
    padding: 3rem;
}

section .card h2 {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1.2rem;
}

section .card p {
    color: #666;
    font-size: 1rem;
}

.custom-btn {
    /* Your custom button styles go here */
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #17a2b8;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn2 {
    /* Your custom button styles go here */
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #136bde;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.custom-btn:hover {
    /* Your custom button hover styles go here */
    background-color: #126b87;
}


.box {
    border: 1px solid gray;
    padding: 2rem;
    margin-top: 4rem;
}

h2 {
    font-size: 3rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex>* {
    margin: 3px;
}



/* section.header {
    width: 100%;
    height: 60vh;
    background: url("https://images.pexels.com/photos/2565919/pexels-photo-2565919.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* section.header{
    background: url("image/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 20px;
} */

/* scrollbar */
.scroll-indicator {
    width: 100%;
    height: 4px;
    background: #036903;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    visibility: hidden;
}

.progress {
    width: 0%;
    height: 4px;
    background: orangered;
}

/* scroll to top */
.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    padding: 1rem;
    border: 1px solid rgba(255, 60, 0, 0.884);
    outline: none;
    cursor: pointer;
    z-index: 111;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s; /* 30% */
}

.show-btn{
    opacity: 1;
    transform: translateY(0);
}


/* เปลี่ยนสี header nav*/

.nav.active{
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}



.nav.active a{
    color: #000;
}

.nav.active a:hover{
    color: orangered;
}



/* footer */

    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Sarabun', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }
